In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('/content/Online Retail.xlsx')

In [6]:
df

,InvoiceNo,StockCode,lower,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,NaN,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,NaN,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,NaN,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,NaN,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,NaN,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [29]:
dff['Quantity'].value_counts()

 1        146162
 2         78473
 12        50435
 3         35262
 6         35196
           ...
-204           1
-618           1
-472           1
-161           1
-80995         1
Name: Quantity, Length: 715, dtype: int64

lets consider only uk customers

In [4]:
dff = df[df['Country'] == "United Kingdom"]

In [14]:
len(dff['StockCode'].value_counts())

4065

In [5]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495478 entries, 0 to 541893
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    495478 non-null  object
 1   StockCode    495478 non-null  object
 2   lower        1671 non-null    object
 3   Description  494024 non-null  object
 4   Quantity     495478 non-null  int64
 5   InvoiceDate  495478 non-null  datetime64[ns]
 6   UnitPrice    495478 non-null  float64
 7   CustomerID   361878 non-null  float64
 8   Country      495478 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 37.8+ MB

In [6]:
main = dff.drop(['InvoiceNo' , 'lower' , 'Quantity' , 'InvoiceDate' , 'UnitPrice' , 'Country'] , axis = 1)

In [7]:
main.dropna(inplace = True)

In [8]:
main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361878 entries, 0 to 541893
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   StockCode    361878 non-null  object
 1   Description  361878 non-null  object
 2   CustomerID   361878 non-null  float64
dtypes: float64(1), object(2)
memory usage: 11.0+ MB

In [9]:
cvp = main[['CustomerID' , 'StockCode']]

lets group by the table such that the customer id mapped with the product id and number of times each product has been purchased

In [10]:
cv = cvp.groupby(['CustomerID' , 'StockCode']).size().reset_index(name = 'counts')

In [11]:
cv

        CustomerID StockCode  counts
0          12346.0     23166       2
1          12747.0     20711       1
2          12747.0     21136       6
3          12747.0     21745       4
4          12747.0     21754       5
...            ...       ...     ...
238799     18287.0    72351B       1
238800     18287.0    84507C       1
238801     18287.0    85039A       2
238802     18287.0    85039B       3
238803     18287.0    85040A       2

[238804 rows x 3 columns]

In [12]:
piv = cv.pivot(index = 'CustomerID' , columns = 'StockCode')

In [13]:
piv.fillna(0 , inplace = True)

In [14]:
piv

           counts                                                        ...  \
StockCode   10002 10080 10120 10125 10133 10135 11001 15030 15034 15036  ...
CustomerID                                                               ...
12346.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
12747.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
12748.0       1.0   0.0   2.0   0.0   5.0   1.0   2.0   1.0   5.0   5.0  ...
12749.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
12820.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
...           ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
18280.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
18281.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
18282.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
18283.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
18287.0       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...


StockCode  90214Y 90214Z BANK CHARGES   C2 CRUK    D  DOT     M PADS POST
CustomerID
12346.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
12747.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
12748.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0  17.0  0.0  2.0
12749.0       0.0    0.0          0.0  1.0  0.0  0.0  0.0   0.0  0.0  0.0
12820.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
...           ...    ...          ...  ...  ...  ...  ...   ...  ...  ...
18280.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
18281.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
18282.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
18283.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0   2.0  0.0  0.0
18287.0       0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

[3950 rows x 3661 columns]

In [15]:
we  = piv.reset_index(level=['CustomerID'])

In [16]:
rm = we['CustomerID'].astype(int)

In [17]:
we['CustomerID'] = rm

In [48]:
we['CustomerID'] = we['CustomerID'].astype(int)

In [49]:
we.describe()

             CustomerID       counts                                         \
StockCode                      10002        10080        10120        10125
count       3950.000000  3950.000000  3950.000000  3950.000000  3950.000000
mean       15562.029367     0.009114     0.005316     0.007342     0.012911
std         1576.848325     0.116582     0.079388     0.104091     0.142635
min        12346.000000     0.000000     0.000000     0.000000     0.000000
25%        14208.250000     0.000000     0.000000     0.000000     0.000000
50%        15571.500000     0.000000     0.000000     0.000000     0.000000
75%        16913.750000     0.000000     0.000000     0.000000     0.000000
max        18287.000000     4.000000     2.000000     3.000000     4.000000

                                                                            \
StockCode        10133        10135        11001        15030        15034
count      3950.000000  3950.000000  3950.000000  3950.000000  3950.000000
mean          0.029873     0.029620     0.015190     0.003291     0.022785
std           0.211397     0.264146     0.189018     0.069286     0.201255
min           0.000000     0.000000     0.000000     0.000000     0.000000
25%           0.000000     0.000000     0.000000     0.000000     0.000000
50%           0.000000     0.000000     0.000000     0.000000     0.000000
75%           0.000000     0.000000     0.000000     0.000000     0.000000
max           5.000000    11.000000     7.000000     3.000000     5.000000

           ...                                                      \
StockCode  ...       90214Y       90214Z BANK CHARGES           C2
count      ...  3950.000000  3950.000000  3950.000000  3950.000000
mean       ...     0.000759     0.000253     0.003038     0.007595
std        ...     0.027552     0.015911     0.063580     0.112266
min        ...     0.000000     0.000000     0.000000     0.000000
25%        ...     0.000000     0.000000     0.000000     0.000000
50%        ...     0.000000     0.000000     0.000000     0.000000
75%        ...     0.000000     0.000000     0.000000     0.000000
max        ...     1.000000     1.000000     2.000000     3.000000

                                                                            \
StockCode         CRUK            D          DOT            M         PADS
count      3950.000000  3950.000000  3950.000000  3950.000000  3950.000000
mean          0.004051     0.018734     0.004051     0.097468     0.001013
std           0.254578     0.587412     0.254578     0.597003     0.031810
min           0.000000     0.000000     0.000000     0.000000     0.000000
25%           0.000000     0.000000     0.000000     0.000000     0.000000
50%           0.000000     0.000000     0.000000     0.000000     0.000000
75%           0.000000     0.000000     0.000000     0.000000     0.000000
max          16.000000    35.000000    16.000000    17.000000     1.000000


StockCode         POST
count      3950.000000
mean          0.021772
std           0.182917
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           6.000000

[8 rows x 3662 columns]

dimensionality reduction using pca

In [19]:
from sklearn.metrics.pairwise import euclidean_distances

In [20]:
simi = euclidean_distances(we)

In [40]:
we

          CustomerID counts                                                  \
StockCode             10002 10080 10120 10125 10133 10135 11001 15030 15034
0              12346    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1              12747    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2              12748    1.0   0.0   2.0   0.0   5.0   1.0   2.0   1.0   5.0
3              12749    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4              12820    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...              ...    ...   ...   ...   ...   ...   ...   ...   ...   ...
3945           18280    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3946           18281    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3947           18282    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3948           18283    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3949           18287    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

           ...
StockCode  ... 90214Y 90214Z BANK CHARGES   C2 CRUK    D  DOT     M PADS POST
0          ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1          ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2          ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0  17.0  0.0  2.0
3          ...    0.0    0.0          0.0  1.0  0.0  0.0  0.0   0.0  0.0  0.0
4          ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
...        ...    ...    ...          ...  ...  ...  ...  ...   ...  ...  ...
3945       ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3946       ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3947       ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3948       ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0   2.0  0.0  0.0
3949       ...    0.0    0.0          0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

[3950 rows x 3662 columns]

In [51]:
def similiar_customers(id):
  index = we[we['CustomerID'] == id].index[0]
  similarity_vec = simi[index]
  m = sorted(list(enumerate(similarity_vec)) ,    key = lambda x:x[1])[1:4]
  for i in m:
    print(we['CustomerID'].iloc[i[0]])
  return

In [53]:
similiar_customers(18281.0)

18280
18282
18278

In [204]:
from sklearn.metrics.pairwise import cosine_similarity
cimi = cosine_similarity(we)

In [205]:
def cimiliar_customers(id):
  index = we[we['CustomerID'] == id].index[0]
  similarity_vec = cimi[index]
  m = sorted(list(enumerate(similarity_vec)) ,  reverse = False ,   key = lambda x:x[1])[1:4]
  for i in m:
    print(we['CustomerID'].iloc[i[0]])
  return

In [206]:
cimiliar_customers(18281)

14096
12748
15311

In [29]:
main

       StockCode                          Description  CustomerID
0         85123A   WHITE HANGING HEART T-LIGHT HOLDER       17850
1          71053                  WHITE METAL LANTERN       17850
2         84406B       CREAM CUPID HEARTS COAT HANGER       17850
3         84029G  KNITTED UNION FLAG HOT WATER BOTTLE       17850
4         84029E       RED WOOLLY HOTTIE WHITE HEART.       17850
...          ...                                  ...         ...
541889     22466       FAIRY TALE COTTAGE NIGHT LIGHT       15804
541890     22061  LARGE CAKE STAND  HANGING STRAWBERY       13113
541891     23275     SET OF 3 HANGING OWLS OLLIE BEAK       13113
541892     21217        RED RETROSPOT ROUND CAKE TINS       13113
541893     20685                DOORMAT RED RETROSPOT       13113

[361878 rows x 3 columns]

In [22]:
main['CustomerID'] = main['CustomerID'].astype(int)

In [24]:
qw = main.groupby(['CustomerID' , 'Description']).size().reset_index(name = 'freq')

In [25]:
freq_t = qw.sort_values("freq",ascending = False)

In [56]:
def similiar_cust_prod(id):
  index = we[we['CustomerID'] == id].index[0]
  similarity_vec = simi[index]
  m = sorted(list(enumerate(similarity_vec)) ,    key = lambda x:x[1])[1:6]
  f = []
  for i in m:
    cid = we['CustomerID'].iloc[i[0]]
    f.append(freq_t[freq_t['CustomerID'] == cid].iloc[0]['Description'])
  return f

In [27]:
freq_t[freq_t['CustomerID'] == 18278].iloc[0]['Description']

'ALARM CLOCK BAKELIKE RED '

In [57]:
similiar_cust_prod(18281.0)

['ALARM CLOCK BAKELIKE CHOCOLATE',
 'FRENCH STYLE STORAGE JAR BONBONS',
 'ALARM CLOCK BAKELIKE RED ',
 'EDWARDIAN PARASOL RED',
 'RUSTIC MIRROR WITH LACE HEART']

In [31]:
import pickle
pickle.dump(we,open('we1.pkl' , 'wb'))

In [37]:
freq_t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240173 entries, 222753 to 240172
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CustomerID   240173 non-null  int64
 1   Description  240173 non-null  object
 2   freq         240173 non-null  int64
dtypes: int64(2), object(1)
memory usage: 7.3+ MB

In [41]:
we.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3950 entries, 0 to 3949
Columns: 3662 entries, ('CustomerID', '') to ('counts', 'POST')
dtypes: float64(3661), int64(1)
memory usage: 110.4 MB

In [61]:
len(freq_t['Description'].value_counts())

3860

top 5 based on content based filtering

In [62]:
s = main.drop(['CustomerID'] , axis = 1)

In [168]:
s[s['StockCode'] == "85123A"]

       StockCode                         Description
0         85123A  WHITE HANGING HEART T-LIGHT HOLDER
49        85123A  WHITE HANGING HEART T-LIGHT HOLDER
66        85123A  WHITE HANGING HEART T-LIGHT HOLDER
220       85123A  WHITE HANGING HEART T-LIGHT HOLDER
262       85123A  WHITE HANGING HEART T-LIGHT HOLDER
...          ...                                 ...
538708    85123A  CREAM HANGING HEART T-LIGHT HOLDER
539083    85123A  CREAM HANGING HEART T-LIGHT HOLDER
539979    85123A  WHITE HANGING HEART T-LIGHT HOLDER
540217    85123A  WHITE HANGING HEART T-LIGHT HOLDER
541639    85123A  CREAM HANGING HEART T-LIGHT HOLDER

[1987 rows x 2 columns]

In [63]:
s.drop_duplicates(inplace =  True)

In [152]:
j = s.reset_index()

In [155]:
s = j.drop(['index'] , axis = 1)

In [66]:
ps = PorterStemmer()

In [65]:
import re
import seaborn as sns

import nltk
nltk.download('stopwords')
nltk.download('punkt')

from textblob import TextBlob
from nltk.tokenize import word_tokenize

from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))


from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [67]:
def clean(text):

  text = text.lower()
  text = re.sub(r'[^\w\s]' , "", text)

  text_tokens = word_tokenize(text)

  filtered_text = [w for w in text_tokens if not w in stop_words]

  tags = [ps.stem(word) for word in filtered_text]

  return " ".join(tags)

In [156]:
s['Description'].apply(clean)

0        white hang heart tlight holder
1                   white metal lantern
2         cream cupid heart coat hanger
3       knit union flag hot water bottl
4          red woolli hotti white heart
                     ...
3875            letter z bling key ring
3876     pink crystal skull phone charm
3877     cream hang heart tlight holder
3878         black silt squ candl plate
3879            paper craft littl birdi
Name: Description, Length: 3880, dtype: object

In [69]:
s['Description'] = s['Description'].apply(clean)

In [157]:
vector = CountVectorizer(max_features=1000)

In [158]:
vc = vector.fit_transform(s['Description'])

In [159]:
from sklearn.metrics.pairwise import cosine_similarity

ops = cosine_similarity(vc)

In [160]:
def cbf(pid):
  index = s[s['StockCode'] == pid].index[0]
  print(index)
  similarity_vec = ops[index]
  m = sorted(list(enumerate(similarity_vec)) ,  reverse = True ,   key = lambda x:x[1])[1:6]
  for i in m:
    k = s['StockCode'].iloc[i[0]]
    print(main[main['StockCode'] == k]['Description'].iloc[0])

In [166]:
main[main['Description'] == "LUNCH BAG ALPHABET DESIGN"]['StockCode'].iloc[0]

'23207'

In [167]:
s[s['StockCode'] == '23207'].index[0]

2947

In [170]:
s[s['StockCode'] == '23207'].index[0]

2947

In [151]:
s.tail(20)

       StockCode                     Description
501156     84550        crochet lilacr bear keyr
502971     23578          snack tray red gingham
503150     23580         snack tray happi forest
503195     23575         snack tray paisley park
503198     23560      set 6 ribbon countri style
503375     23576     snack tray red vintag doili
503602     23562   set 6 ribbon perfectli pretti
503722     21175       gin tonic diet metal sign
504104     23561              set 6 ribbon parti
504721    90014C      silver black orbit necklac
527057    90214F         letter f bling key ring
527060    90214O           letter bling key ring
527064    90214T           letter bling key ring
527065    90214U         letter u bling key ring
527067    90214W         letter w bling key ring
527069    90214Z         letter z bling key ring
530382     90089  pink crystal skull phone charm
537621    85123A  cream hang heart tlight holder
538011     72783      black silt squ candl plate
540421     23843         paper craft littl birdi

In [164]:
import pickle

pickle.dump(ops,open('cos2_vector.pkl' , 'wb'))

In [171]:
ds4 = s.to_dict()

In [173]:

pickle.dump(ds4,open('s7.pkl' , 'wb'))

In [133]:
s['StockCode'] = s['StockCode'].astype(str)

main['StockCode'] = main['StockCode'].astype(str)

In [144]:
freq_t

        CustomerID                         Description  freq
222753       17841                       CHILLI LIGHTS    65
222665       17841    BLUE/CREAM STRIPE CUSHION COVER     54
223266       17841      PACK OF 60 DINOSAUR CAKE CASES    54
222730       17841           CHARLOTTE BAG SUKI DESIGN    49
222994       17841                   GUMBALL COAT RACK    49
...            ...                                 ...   ...
116747       15493             MORE BUTTER METAL SIGN      1
34371        13627       PRETTY HANGING QUILTED HEARTS     1
116749       15493  NOVELTY BISCUITS CAKE STAND 3 TIER     1
34370        13627        POLYESTER FILLER PAD 45x45cm     1
240172       18287   TREE T-LIGHT HOLDER WILLIE WINKIE     1

[240173 rows x 3 columns]